<div class="text-center">
  <h1>Log in</h1>
</div>

<div class="container">
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="text-center">
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="text-center">
        <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>